<div class="mt-4">
  <h3>Update khoá học</h3>
  <form class="mt-4" method="POST" action="/courses/{{course._id}}?_method=PUT">
    <div class="mb-3">
      <label for="name">Tên khóa học</label>
      <input
        class="form-control"
        id="exampleInputEmail1"
        value="{{course.name}}"
        name="name"
        type="text"
      />
    </div>

    <div class="mb-3">
      <label for="description">Mô tả</label>
      <textarea
        class="form-control"
        id="exampleInputEmail1"
        name="description"
        type="text"
      >
        {{course.description}}
      </textarea>
    </div>
    <div class="mb-3">
      <label for="videoId">Video ID</label>
      <input
        class="form-control"
        id="exampleInputEmail1"
        value="{{course.videoId}}"
        name="videoId"
        type="text"
      />
    </div>

    <div class="mb-3">
      <label for="level">Trình độ</label>
      <input
        class="form-control"
        id="exampleInputEmail1"
        value="{{course.level}}"
        name="level"
        type="text"
      />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>