<div class="mt-4">
  <div>
    <h3>Khóa học của tôi</h3>
    <a href="/me/trash/courses">Thùng rác</a>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tên khóa học</th>
        <th scope="col">Trình độ</th>
        <th scope="col" colspan="2">Thời gian tạo</th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
        <tr>
          <th scope="row">{{sum @index 1}}</th>
          <td>{{this.name}}</td>
          <td>{{this.level}}</td>
          <td>{{this.createdAt}}</td>
          <td>
            <a href="/courses/{{this._id}}/edit" class="btn btn-link">Sửa</a>
            <a
              href=""
              class="btn btn-link"
              data-bs-toggle="modal"
              data-bs-target="#delete-course-modal"
              data-id="{{this._id}}"
            >Xóa</a>
          </td>
        </tr>
        {{else}}
          <td colspan="5" class="text-center">
            Bạn chưa đăng khóa học nào.
            <a href="/courses/create">Đăng khóa học</a>
          </td>
      {{/each}}
    </tbody>
  </table>

</div>

{{! Confirm delete course}}
<div
  class="modal fade"
  id="delete-course-modal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Xóa khóa học?</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Bạn chắc chắn muốn xóa khóa học này?
      </div>
      <div class="modal-footer">
        <button 
        id="btn-delete-course"
        type="button" class="btn btn-danger">Xoa bo</button>
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >Huy</button>
      </div>
    </div>
  </div>
</div>

{{!-- Delete hidden form --}}
  <form name="delete-course-form"  method="POST" />


<script>
  document.addEventListener('DOMContentLoaded', function(){
    var courseId;
    var deleteForm=document.forms['delete-course-form'];
     const deleteCourseModal = document.getElementById('delete-course-modal')
     //when dialog confirm clicked
  if(deleteCourseModal)deleteCourseModal.addEventListener('show.bs.modal',event=>{
  const button = event.relatedTarget;  courseId = button.getAttribute('data-id');
 }) ;
  var btnDeleteCourse=document.getElementById('btn-delete-course');

    //when delete course btn clicked
    btnDeleteCourse.onclick=function(){
      deleteForm.action='/courses/'+courseId+'?_method=DELETE';
      deleteForm.submit();
    }
  })
</script>